<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CSharpGames</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day01">
                <span class="bi bi-robot-speed" aria-hidden="true"></span> Day 1: Replicator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day02">
                <span class="bi bi-list-ol" aria-hidden="true"></span> Day 2: Lists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day03">
                <span class="bi bi-key-fill" aria-hidden="true"></span> Day 3: Dictionaries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day04">
                <span class="bi bi-funnel" aria-hidden="true"></span> Day 4: LINQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day05">
                <span class="bi bi-clock-history" aria-hidden="true"></span> Day 5: Async
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day06">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Day 6: Generics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day07">
                <span class="bi bi-cpu-fill" aria-hidden="true"></span> Day 7: Interfaces
            </NavLink>
        </div>
    </nav>
</div>
